@using la_mia_pizzeria_static.Models.Form;
@model PizzaForm

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Aggiungi una pizza</h1>
            </div>
            <form asp-controller="Pizza" asp-action="Create" method="post">

                <div class="mb-3">
                    <strong>Url immagine:</strong>
                    <input asp-for="Pizza.Image" class="d-block w-100" />
                    <span asp-validation-for="Pizza.Image" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Nome pizza:</strong>
                    <input asp-for="Pizza.Name" class="d-block w-100" />
                    <span asp-validation-for="Pizza.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Descrizione:</strong>
                    <textarea asp-for="Pizza.Description" rows="10" class="d-block w-100"></textarea>
                    <span asp-validation-for="Pizza.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Prezzo:</strong>
                    <input type="number" asp-for="Pizza.Price" class="d-block w-100" />
                    <span asp-validation-for="Pizza.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Categoria:</strong>
                    <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">
                        @foreach (Category category in Model.Categories)
                        {
                            @*questa è la hold *@
                            @if (Model.Pizza.CategoryId == category.Id)
                            {
                                <option value="@category.Id" selected>@category.Title</option>
                            }
                            else
                            {
                                <option value="@category.Id">@category.Title</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <strong>Ingredienti:</strong>
                  @*  lavora sulla tabella ponte, ha la lista di ciò selezionato dall'utente
                    ma selectedIngredients non esiste nel modello *@
                    @* asp-items vuole una selected list item, cioè una lista di ingredienti, che creiamo nel model  *@
                    <select asp-for="SelectedIngredients"   
                            asp-items="@Model.Ingredients" 
                            multiple="multiple"
                            size="10"
                            class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
                    </select>
                </div>
                <div class="text-end">
                    <input type="submit" class="btn btn-small btn-success" value="Salva">
                </div>

            </form>
        </div>
    </div>
</div>